.toastOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.toastContent {
  background-color: rgb(20, 20, 20);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 45%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:first-child {
  background-color: #007bff;
  color: white;
}

.button:last-child {
  background-color: #6c757d;
  color: white;
}
